<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">    
</head>
    <body>
        <div class="container">
            <div class="content" id="app" class="d-flex flex-column">

                <div id="stats" class="d-flex flex-row justify-content-between">
                    <div id="stats-item">
                        <p class="stats-prefix">
                        Score
                        </p>
                        <h1 class="stats-main-text" id="scoreTotal">
                        0
                        </h1>
                    </div>

                    <div id="stats-item">
                        <p class="stats-prefix">
                        Question
                        </p>
                        <h1 class="stats-main-text" id="questionNo">
                        
                        </h1>
                    </div>
                </div>
               
                <h3 class="question-container" id="question"></h3> 
                
                <div class="answer d-flex flex-row">
                    <p class="answer-letter">A&nbsp</p>
                    <p class="answer-text" data-option="1">Choice 1</p>
                </div>
                <div class="answer d-flex flex-row">
                    <p class="answer-letter">B&nbsp</p>
                    <p class="answer-text" data-option="2">Choice 2</p>
                </div>
                <div class="answer d-flex flex-row">
                    <p class="answer-letter">C&nbsp</p>
                    <p class="answer-text" data-option="3">Choice 3</p>
                </div>
                <div class="answer d-flex flex-row">
                    <p class="answer-letter">D&nbsp</p>
                    <p class="answer-text" data-option="4">Choice 4</p>
                </div>
            </div>   
        </div>
      <!-- Loading jQuery -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <!-- Loading Bootstrap JavaScript -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <!-- Loading app JS -->
      <script src="../scripts/app.js"></script>
    </body>
</html>